<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>userReg</servlet-name>
        <servlet-class>userReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userLogin</servlet-name>
        <servlet-class>userLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>applicationServlet</servlet-name>
        <servlet-class>applicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>renewservlet</servlet-name>
        <servlet-class>renewservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>appointmentservlet</servlet-name>
        <servlet-class>appointmentservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingServlet</servlet-name>
        <servlet-class>bookingServlet.bookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplicationApprovalServlet</servlet-name>
        <servlet-class>ApplicationApprovalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateApprovalStatusServlet</servlet-name>
        <servlet-class>UpdateApprovalStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userReg</servlet-name>
        <url-pattern>/userReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userLogin</servlet-name>
        <url-pattern>/userLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>applicationServlet</servlet-name>
        <url-pattern>/applicationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>renewservlet</servlet-name>
        <url-pattern>/renewservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>appointmentservlet</servlet-name>
        <url-pattern>/appointmentservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingServlet</servlet-name>
        <url-pattern>/bookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplicationApprovalServlet</servlet-name>
        <url-pattern>/ApplicationApprovalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateApprovalStatusServlet</servlet-name>
        <url-pattern>/UpdateApprovalStatusServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
